* {
  margin: 0;
  padding: 0;
  color: hsl(250, 6%, 84%);
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  line-height: 1.9;
  background-color: #03012d;
  padding: 7rem;
  font-size: 16px;
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
}
.logo-container {
  display: flex;
}
select {
  border-radius: 10px;
  background-color: #3d3b5e;
  padding: 1.4rem;
  color: hsl(250, 6%, 84%);
  border: none;
  font-size: 1.4rem;
  align-self: center;
}

/* DROPDOWN STYLES */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #182848;
  color: hsl(250, 6%, 84%);
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.4rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #1e283cf2;
  backdrop-filter: blur(6px);
  border-radius: 10px;
  padding: 1rem 1.8rem;
  width: 250px;
  box-shadow: 0 4px 10px #00000066;
  z-index: 1;
}

.dropdown-content h4 {
  font-size: 1rem;
  color: hsl(250, 6%, 84%);
  margin: 0.8rem 1.6rem 0.4rem;
  font-weight: 500;
}
.border {
  border-bottom: 0.2px solid hsla(252, 6%, 84%, 0.082);
}
.dropdown-content a {
  color: hsl(250, 6%, 84%);
  padding: 0.8rem 1.6rem;
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background 0.3s;
}

.dropdown-content a:hover {
  background-color: #2d3a5b;
  border-radius: 10px;
}

.dropdown-content a.active::after {
  content: "✔";
  float: right;
  color: #4da6ff;
  opacity: 0;
}

/* Show dropdown when active */
.show {
  display: block;
}
option {
  font-size: 2.4rem;
}

/* Main page styles */

.primary-heading {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  color: hsl(250, 6%, 84%);
  text-align: center;
}
.heading {
  padding: 2rem;
  width: 70%;
  margin: 0 auto;
}
.search-box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  gap: 5px;
}

#searchInput {
  padding: 1rem 4rem;
  border-radius: 10px;
  width: 100%;
  font-size: 1.4rem;
  background-color: #272541;
  color: hsl(250, 6%, 84%);
  border: 0 transparent none;
}

input::placeholder {
  font-family: "Bricolage Grotesque", sans-serif;
  color: hsl(250, 6%, 84%);
}
.search-btn {
  border-radius: 10px;
  padding: 0.5rem 4rem;
  background-color: #4455da;
  font-size: 1.4rem;
  color: hsl(250, 6%, 84%);
  font-weight: 500;
  font-family: "DM Sans";
  border: 0 transparent none;
}

.main-display {
  position: relative;
  padding-bottom: 2.4rem;
}
.background-img {
  width: 100%;
  /* display: none; */
}
.main-display div {
  color: hsl(250, 6%, 84%);
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* opacity: 0; */
}

.sub-display {
  justify-content: end;
  align-items: center;
}
.location {
  font-size: 3.4rem;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-weight: 600;
}
.date-time {
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
}

.temp {
  font-size: 8rem;
  font-style: italic;
  color: #fff;
  font-weight: 500;
  display: flex;
}

.sub-display {
  display: flex;
}
.display-weather {
  width: 35%;
}

.sub-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-bottom: 2.4rem;
}
.sub-head {
  background-color: #272541;
  border-radius: 20px;
  padding: 3.2rem;
}
.sub-head-text {
  font-size: 1.4rem;
  color: hsl(250, 6%, 84%);
}
.sub-head-value {
  font-size: 2.4rem;
  color: hsl(250, 6%, 84%);
}

/* Forcast */
/* .forecast {
  /* padding: 6rem 0; */

.forecast-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1.4rem;
}

.forecast-sub {
  background-color: #272541;
  border-radius: 10px;
  padding: 2.4rem;
}

.forcast-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  padding-bottom: 1.4rem;
  font-size: 2.4rem;
  color: #fff;
}

.weather-condition {
  width: 100%;
}
.hourly-weather {
  width: 20%;
}
.days,
.weather-rep,
.temperature,
.temp-second {
  font-size: 1.2rem;
  color: hsl(250, 6%, 84%);
  text-align: center;
}
.weather-rep {
  /* padding: 1.4rem 0; */
  font-size: 8.4rem;
}
.temps {
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: space-between;
}

/* ASIDE */

.side-container {
  padding: 2.4rem 3.2rem;
  background-color: #272541;
  height: 100%;
  border-radius: 20px;
}

.side-container span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.side-sub-container {
  justify-content: space-between;
  padding-bottom: 2rem;
}

.hourly-forecast {
  font-size: 2rem;
  padding-bottom: 0;
}

.aside-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aside-sub-container li {
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsla(252, 6%, 84%, 0.062);
  margin-bottom: 1.6rem;
  border-radius: 10px;
}

.aside-sub-container li:last-child {
  margin-bottom: 0;
}
.aside-time {
  font-size: 1.4rem;
  font-weight: 600;
  color: hsl(250, 6%, 84%);
}

li span {
  display: flex;
  font-family: "DM Sans", sans-serif;
  /* gap: 2rem; */
  font-size: 3rem;
  align-items: center;
}
.weather-code {
  font-size: 3.2rem;
  align-self: flex-end;
}
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
  align-items: stretch;
  padding: 6.8rem 0;
}

.aside-temp {
  font-weight: 600;
  font-size: 1.2rem;
}

/* API ERROR STYLE */
.api-error {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9.6rem 0;
}
.err-icon {
  width: 10%;
}
.err-message {
  font-size: 10rem;
}
.err-msg {
  font-size: 3.6rem;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 4.4rem;
}
.retry-btn {
  display: flex;
  gap: 3rem;
  color: hsl(250, 6%, 84%);
  padding: 1.2rem 2rem;
  border-radius: 10px;
  background-color: #3d3b5e;
  font-size: 2.4rem;
}
.retry-img {
  width: 100%;
}

/* Loading state */

.main-display-sec {
  text-align: center;
  background-color: #3d3b5e;
  border-radius: 20px;
  padding: 20rem;
  margin-bottom: 5.4rem;
}
.loading-icon {
  width: 5%;
}
.load-text {
  font-size: 3.6rem;
  text-align: center;
}
